body * {
    display: border-box;
    color: white;
    font-family: exo;
}
html {
    background-color: black;
}
/* HEADER */
.hero {
    display: block;
    width: 100%;
    height: 300px;
    text-align: center;
    color: white;
}
h1 {
    font-size: 35px;
    letter-spacing: 3px;
    width: 100%;
    margin-bottom: 10px;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    color: white;
    font-size: 20px;
    border: 2px solid white;
    margin: auto;
    margin-top: 15px;
}
header.hero {
    height: 250px;
}
a:hover {
    color: magenta;
}

@media screen and (min-width: 880px){
    nav {
        font-size: 30px;
        margin-top: 25px;
    }
    h1 {
        font-size: 45px;
        margin-bottom: 10px;
    }
}
@media screen and (min-width: 1000px){
    nav {
        font-size: 40px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    h1 {
        font-size: 55px;
        margin-bottom: 10px;
    }

}

/* TETRIS GRID */
main {
    height: 50vh;
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

@media screen and (min-width: 468px){
    main {
    height: 90vh;
  }}
  @media screen and (min-width: 710px){
    main {
    height: 100vh;
  }}
  @media screen and (min-width: 880px){
    main {
    height: 110vh;
  }}
  @media screen and (min-width: 1000px){
    main {
    height: 130vh;
  }}

div.green { 
    background: linear-gradient(green, palegreen);
    border: outset 15px palegreen;
    opacity: 0;
}
div.pink {
    background: linear-gradient(magenta, pink);
    border: outset 15px magenta;
    opacity: 0;
}
div.blue {
    background: linear-gradient(blue, lightblue); 
    border: outset 15px blue;
    opacity: 0;
}
div.yellow {
    background: linear-gradient(yellow,white); 
    border: outset 15px yellow;  
    opacity: 0;
}

footer {
    display: fixed; 
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid white;
    margin-top: 10px;
}

/* ABOUT ME PAGE */
.aboutMe {
    display: inline-block;
    font-size: 20px;
}
.aboutMe p, .aboutMe li {
    font-size: 15px;
}
.aboutMe ul {
    padding: 0px;
    list-style-type: none;
}
.aboutMe h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
    color: black;
    background: linear-gradient(palegreen, white);
    border: outset 15px palegreen;
}

#headshot {
    border-radius: 50%;
    width: 100px;
    float: right;
    margin-left: 2px;
}
#bookcover {
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
}
#yoga {
    float: right;
    height: 100px;
    width: 100px;
    margin-left: 5px;
}

@media screen and (min-width: 468px){
    .aboutMe {
        font-size: 20px;
    }
    .aboutMe h2 {
        font-size: 40px;
    }
    .aboutMe p, .aboutMe li {
        font-size: 20px;
    }
    #bookcover {
        height: 150px;
        width: 150px;
    }
    #yoga {
        float: right;
        height: 150px;
        width: 150px;
    }  
}
@media screen and (min-width: 1000px){
    #headshot {
        border-radius: 50%;
        width: 150px;
        float: right;
    }
}

/* PROJECTS PAGE */

.myProjects {
    display: inline-block;
    font-size: 20px;
}
.myProjects p {
    font-size: 15px;
}
.myProjects h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
    color: black;
    background: linear-gradient(lightblue, white);
    border: outset 15px lightblue;
}
.quiz {
    width: 270px;
    height: 370px;
    margin-bottom: 5px;
}
.quizPics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

@media screen and (min-width: 468px){
.quizPics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
}
}

@media screen and (min-width: 468px){
.myProjects h2 {
    font-size: 40px;
}
.myProjects p {
    font-size: 20px;
}
.quiz {
    width: 30%;
    height: 250px;
} 
}
@media screen and (min-width: 710px){
    .quiz {
        height: 350px;
    } 
}
@media screen and (min-width: 1000px){
    .quiz {
        height: 450px;
    } 
}


/* CONTACT PAGE */
main.contactMe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85%;

}
.contactMe {
    display: inline-block;
    font-size: 20px;
}
.contactMe h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 0px;
    color: black;
    background: linear-gradient(pink, white);
    border: outset 15px pink;
}
.contactMe ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 0px;
}
.contactMe h3{
    text-align: center;
}
.icon {
    height: 80px;
    width: 80px;
}
.linkedin {
    width: 135px;
}
.github {
    background-color: white;
}

