body * {
    display: border-box;
    color: white;
    font-family: exo;
}
html {
    background-color: black;
}
.hero {
    display: block;
    width: 100%;
    height: 300px;
    text-align: center;
    color: white;
}
h1 {
    font-size: 35px;
    letter-spacing: 3px;
    width: 100%;
}
main {
        height: 90vh;
        margin: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
      }


div.green { 
    background: linear-gradient(green, palegreen);
    border: outset 15px palegreen;
    opacity: 0;
}
div.pink {
    background: linear-gradient(magenta, pink);
    border: outset 15px magenta;
    opacity: 0;
}
div.blue {
    background: linear-gradient(blue, lightblue); 
    border: outset 15px blue;
    opacity: 0;
}
div.yellow {
    background: linear-gradient(yellow,white); 
    border: outset 15px yellow;  
    opacity: 0;
}


nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    color: white;
    font-size: 20px;
    border: 2px solid white;
    margin: auto;
}

nav .aboutMe:hover {
    color: green;
    font-size: 25px;
}
nav .myProjects:hover {
    color: blue;
    font-size: 25px;
}
nav .contactMe:hover {
    color:magenta;
    font-size: 25px;
}

footer {
    display: fixed; 
    text-align: center;
    padding-top: 10px;
}

.logo {
    border-radius: 25px;
    height: 20px;
    width: 20px;
}

/* @media screen and(min-width 700ps){
    .container {
        height: 90vh;
        width: smaller normally go to - 500px
        margin: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
      }
}